<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "wrapper">
        <%- include("partials/header") %>
    <main>
       
        <h1>User Dashboard</h1>
        <a href="/user">Back to Dashboard</a>
        
         
        <form action="/dish/<%=food._id%>?_method=PUT" method= "post">
            <input class="input"
            type="text"
            name="name"
            placeholder="your dishname"/>
            <input type="text" name= "imageUrl" placeholder="add image url"/>
            <input type="text" name="videoUrl" placeholder="add video url"/>
            <input type="submit" value="update dish">
        </form>

        <h1>
           <a href="/dish/<%=food._id%>"><%=food.name%></a> 
        </h1>
        <img src ="<%=food.imageUrl%>">
        <iframe width="420" height ="315"
        src="<%=food.videoUrl%>">
        <!-- need to figure out how to put /embed automatically -->
        </iframe>

        <form action="/dish/<%= food._id %>?_method=DELETE" method="post">
            <input type="submit" value="delete dish">  
        </form>
    
        <a href="/"><button class="button">Logout</button></a>
    </main>
    <%- include("partials/footer") %>
    </div>
</body>
</html>
