<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <nav class= "navbar has-shadow is-white">
        <!-- logo/brand -->
        <div class="navbar-brand">
            <a class= "navbar-item">
                <img src="/assets/logo.png" style="max-height: 70px" class="py-2 px-2">
            </a>
        </div>
        <div class="navbar-menu" id="nav-links"></div>
        <div class="navbar-end">
            <a href="/about" class="navbar-item">About</a>
            <a href="/home" class="navbar-item">Home</a>
            <a href="/" class="navbar-item">Logout</a>
            <a href="/contact" class="navbar-item">Contact Me</a>
        </div>
    </nav>
    <div class = "wrapper">
        <%- include("partials/header") %>
    <main>
       
        <h1>User Dashboard</h1>
        <form action="/user" method="post">
            <input class="input"
            type="text"
            name="name"
            placeholder="your dishname"/>
            <input type="text" name= "imageUrl" placeholder="add image url"/>
            <input type="text" name="videoUrl" placeholder="add video url"/>
            <input type="submit" value="add dish">
        </form>
    <% for (food of foods) { %>
        <h1>
           <a href="/dish/<%=food._id%>"><%=food.name%></a> 
        </h1>
        <img src ="<%=food.imageUrl%>">
        <iframe width="420" height ="315"
        src="<%=food.videoUrl%>">
        <!-- need to figure out how to put /embed automatically -->
        </iframe>
    <% } %>  
    </main>
    <%- include("partials/footer") %>
    </div>
</body>
</html>

