<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
    <nav class= "navbar has-shadow is-white">
        <!-- logo/brand -->
        <div class="navbar-brand">
            <a class= "navbar-item">
                <img src="/logo.png" style="max-height: 70px" class="py-2 px-2">
            </a>
        </div>
        <div class="navbar-end">
            <a href="/about" class="navbar-item">About</a>
            <a href="/news" class="navbar-item">Home</a>
            <a href="/" class="navbar-item">Logout</a>
            <a href="/contact" class="navbar-item">Contact Me</a>
        </div>
    </nav>
        
    <main>
       
        <h2 class ="is-size-1 has-text-weight-bold has-text-centered has-text-primary-dark has-background-light py-6 my-2">Your Dashboard</h2>
        <p class="is-size-3 has-text-weight-bold">Add Your Dishes Here</p>
        <form  action="/user" method="post">
            <input class="input" type="text" name="name" placeholder="your dishname">
            <input width="300" class = "input" type="text" name="description" placeholder= "describe your dish">
            <input type="text" name= "imageUrl" placeholder="add image url"/>
            <input type="text" name= "videoUrl" placeholder="add video url"/>
            <input type="submit" value="add dish">
        </form>
    <% for (food of foods) { %>
        <section class="section">
            <div class= "container">
                <div class= "columns is-vcentered">
                    <div class="column is-size-4"><a href="/dish/<%=food._id%>"><%=food.name%></a> </div>
                    <div class="column is-5 has-text-centered">
                        <img src="<%=food.imageUrl%>" alt="" class="px-6">
                    <div class= "column is-size-4 subtitle">       <iframe width="500" height ="200"
                            src="<%=food.videoUrl%>">
                        </iframe>
                    </div>
                </div>
                    
                <div class="column is-size-4 subtitle"><p><%=food.description%></p></div>
                    </div>

                </div>
            </div>        
            
                
          
            

            <!-- need to figure out how to put /embed automatically -->
            </iframe>
        </section>

    <% } %>  
    </main>
    <%- include("partials/footer") %>
    </div>
</body>
</html>

